body {
  font-family: Lucida Sans, sans-serif;
}

.horizontal {
  display: flex;
  flex-direction: row;
}
  
.vertical {
  display: flex;
  flex-direction: column;
}
  
.container {
  padding: 2rem;
  align-items: center;
}
  
h1 {
  font-size: 4rem;
  text-align: center;
}

.pets {
  flex-wrap: wrap;
  justify-content: center;
}

.tile {
  margin: 0.5rem;
  padding: 0.5rem;
  height: 20rem;
  width: 18rem;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}

.image {
  background-color: rgb(223, 216, 211);
  border-radius: 1rem;
  height: 17rem;
  width: 17rem;
  align-items: center;
  justify-content: center;
}


.image img {
  max-width: 15rem;
  max-height: 15rem;
  overflow: hidden;
}

input, button {
  font-size: 1.5rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0.7rem;
}

button {
  background-color: rgb(209, 209, 209);
}

button:hover {
  background-color: rgb(170, 170, 170);
}